html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
  background: #6fadf8;
  background: -webkit-radial-gradient(bottom, #c4f8fe, #6fadf8);
  background: -moz-radial-gradient(bottom, #c4f8fe, #6fadf8);
  background: radial-gradient(to top, #c4f8fe, #6fadf8);
}
p {
  text-align: center;
  font-size: 50px;
  padding: 0 0 50px;
}
ul {
  margin: 0;
  padding: 0;
  color: darkblue;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
i {
  font-size: 40px;
}
.weather-app-wrapper {
  max-width: 900px;
  margin: 30px auto;
}
.forecast .day {
  font-size: 26px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  color: white;
  font-weight: 600;
}
form {
  display: block;
  margin: 30px auto 30px auto;
}
.today i {
  font-size: 70px;
}
.temp {
  font-size: 20px;
}

.weather-temperature.active {
  color: white;
  cursor: default;
}
.weather-temperature.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast .white-box {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 0.5em 0;
}
.weather-forecast-date {
  font-size: 16px;
  color: darkblue;
  opacity: 0.7;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-tempertaure-min {
  opacity: 0.5;
  color: darkblue;
}
.weather-forecast-temperature-max {
  color: darkblue;
}
#city-display {
  font-size: 45px;
  color: white;
}
.temp {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  margin-top: 1.2em;
}
#temp-display {
  font-size: 4em;
  color: white;
  display: flex;
}
.icon-temp-display {
  display: flex;
  flex-direction: row;
  margin-top: -1em;
}
#current-location-button {
  margin: 0 10px;
  background: darkblue;
  color: white;
}
.updated {
  font-size: 13px;
  padding-top: 2em;
  color: rgb(79, 131, 192);
}
.text-right {
  text-align: right;
}

ul.subheading {
  padding-left: 0;
}
